@use "styles/breakpoints.scss" as *;


@mixin legend-breakpoint {
  @media (max-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container {
    background-color: var(--color-grey-500);
    width: 520px;
    height: 330px;
    border-radius: 1rem;
    min-width: 350px;
    max-width: 730px;
    padding-bottom: 5px;

    @include mobile {
        width: 60%;
        max-width: 850px;
        height: 100%;
        
        margin: auto;
        
    }

    .title {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include mobile {
            padding-bottom: 0rem;
        }
    }

    .pieChart {
        margin: auto;
    }

    .tooltip {
        background: var(--color-grey-400);
        padding: 8px 12px;
        border-radius: 0.5rem;
        font-size: 14px;
        width: 100px;
        text-align: center;
        pointer-events: none;

    }
}


.legendList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;


    @include legend-breakpoint;
    
    li {
        font-size: 14px;
        color: white !important;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

 
    span {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 2px;
    }
}


.pieChart * {
    outline: none;
}
