.container {
    background-color: var(--color-grey-500);
    width: 520px;
    height: 370px;
    border-radius: 1rem;

    .title {
       text-align: center;
       padding-top: 1rem;
       padding-bottom: 1rem;
    }

    .pieChart {
        margin: auto;
        
    }

}