@use "styles/breakpoints.scss" as *;

@mixin tablet {
  @media (max-width: 705px) {
    @content;
  }
}

.edzes-block {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-500);
  border-radius: 1rem;
  align-items: stretch;
  padding-bottom: 1.5rem;

  @include desktop {
    margin-bottom: 42px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-light);
  }

  @include mobile {
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .edzes-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-grey-400);
    border-radius: 1rem 1rem 0 0;


  }

  .gyak-neve {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 1.5rem;

    p{

      &:hover {
        color: var(--color-grey-200) !important;
        
      }
    }
  }


  




 

  

  


}

