

NEXTAUTH_URL=http://localhost:3000 #Változtasd meg a frontend hálózati IP címére, ha telefonon is szeretnéd használni
NEXT_PUBLIC_BACKEND_URL=http://0.0.0.0:8000  #Változtasd a jelenlegi: 0.0.0.0 ip címet, a backend ip címére
NEXTAUTH_SECRET=SecretKeyHere # Ez a titkos kulcs a NextAuth-hoz szükséges, sajátot is lehet generálni viszont nem szükséges tesztelés során