@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #001917;
  --color-light: #ffffff;
  --color-warning: #f2b400;
  --color-info: #3a8d9d;
  --color-error: #e74c3c;
  --color-success: #27ae60;
  --color-grey-500: #333333;
  --color-grey-400: #c8c6c6;
  --color-grey-300: #777777;
  --color-grey-200: #999999;
  --color-grey-100: #cccccc;
  --color-primary-90: #004a5f;
  --color-primary-75: #226375;
  --color-primary-50: #277389;
  --color-primary-10: #c5ebe5;
  --color-primary: #6db4a9;
}

body {
  background-color: var(--color-dark);
}
