@use "styles/breakpoints.scss" as *;

@mixin tablet {
  @media (max-width: 705px) {
    @content;
  }
}
  .edzes-block {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-500);
    border-radius: 1rem;
    align-items: stretch;

    @include desktop {
      margin-bottom: 42px;
      width: 750px;
      margin-left: auto;
      margin-right: auto;
      color: var(--color-light);
    }

    @include mobile {
      margin-bottom: 35px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .edzes-header {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background-color: var(--color-grey-400);
      border-radius: 1rem 1rem 0 0;
      
    }


    .set-table {
      padding: 1rem;


      &>* {
        padding: 0.5rem;
      }
    }




    .exerciseName {
      margin-left: 2rem;
      font-weight: bold;
    }

    .set-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      @include desktop {
        margin-left: 7rem;
      }

      @include mobile {
        margin-left: 3rem
      }

      @include tablet {

        margin-left: 0rem;
        padding-left: 0;
      }


      .set-table {
        border-collapse: separate; 
        border-spacing: 1rem 0.1rem; 
        padding-left: 0;
      
       

        .prev-reps {
          padding-left: 0.5rem;
          text-align: center;
          padding-top: 0.5rem;
        }

        .set-input {
          padding-top: 0.5rem;  
        }
      }

      .addset-desktop {
        margin-right: 2rem;
        vertical-align: auto;
        margin-top: 1rem;
      
        @include tablet {
          display: none;
        }
      }

    }
    
    .exercise-actions {
      align-items: center;

      
      .addset-mobile {
        display: none;
        
        @include tablet {
          display: block;
          
          width: 70%;
          margin: auto;
          margin-top: 1rem;
        }
      }

      .finalize-button {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 70%;

        @include desktop {
          width: 300px;
        }


      }
      
    }


  }
