@use "styles/breakpoints.scss" as *;


.bmiContainer{
    background-color: var(--color-grey-500);
    width: 100%;
    max-width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    @include mobile {
        max-width: 100%;
        width: 100%;
    }
}
.bmiSmallItemContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 86px;
}
.container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: start; 
    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: center; 
        margin-bottom: 10rem;
    }
}

.leftPanel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%; 
    justify-content: space-between;
    @include mobile {
        width: 100%;
        height: auto; 
    }
}

.rightPanel {
    background-color: var(--color-grey-500);
    border-radius: 16px;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;
    min-height: 100%;
    @include mobile {
        width: 100%;
        height: auto;
    }
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: -2rem; //
    margin-bottom: 4rem;
    @include mobile {
        flex-direction: column;
        width: 100%;
    margin-bottom: 2rem;
        

        button{
            width: 100%;
        }
    }
}