.mainDiv{
  background-color: var(--color-grey-500);
  width: 100%;
}
.humanDiv{
  max-width: max-content;
  width: 100%;
}
.leftbutton{
    grid-area: 3/2/3/2;
    z-index: 1;
}
.rightbutton{
  grid-area: 3/11/3/11;
  z-index: 1;
}
.humanA{
  grid-area:1/4/6/10;
  justify-items: start;
  align-items: start;
  background-color: var(--color-info);
  border-radius: 8px;
}
.humanB{
  grid-area:1/4/6/10;
  justify-items: start;
  align-items: start;
  background-color: var(--color-error);
  border-radius: 8px;
}
.leftbuttonDesk{
  grid-area: 3/2/3/2;
  z-index: 1;
}
.rightbuttonDesk{
  grid-area: 3/10/3/10;
  z-index: 1;
}
.humanDeskA{
  grid-area:1/2/6/11;
  justify-items: start;
  align-items: start;
  background-color: var(--color-info);
  border-radius: 8px;
}
.humanDeskB{
  grid-area:1/2/6/11;
  justify-items: start;
  align-items: start;
  background-color: var(--color-error);
  border-radius: 8px;
}
.aClass{
  color: var(--color-grey-400);
  text-decoration: underline;
  font-size: 12px;
  padding-left: 20px;
}
