@use "styles/breakpoints.scss" as *;

.mainDiv {
  max-width: 325px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.625rem;    
  padding: 1.25rem;   
  border-radius: 0.5rem; 
  background-color: var(--color-grey-500); 

  @include mobile {
    max-width: 325px;
    width: 100%;  
  }

  @media (max-width: 1420px) and (min-width: 1024px) {
    max-width: 260px;
    padding: 0.75rem;
    margin: 0.25rem;
  }
}

/* Title container and text */
.titleContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1.25rem; /* equivalent to mb-5 */
}

.title {
  max-height: 30px;
  text-align: center;
}

/* Image container – combines the two variants */
.humanDiv {
  max-width: 300px;
  min-width: 130px;
  width: 100%;
  margin-bottom: 2rem; /* default: mb-8 */
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-grey-400);
  min-height: 230px;
  
  @media (max-width: 1420px) and (min-width: 1024px) {
    margin-top: 1rem;
    max-width: 200px;
    min-height: 240px;
  }
}

/* Link styles – make the image clickable on mobile, but disable it on desktop */
.link {
  display: block;
  pointer-events: none;
  
  @include mobile  {
    pointer-events: auto;
  }
}

/* Button container – shows only on desktop screens */
.buttonContainer {
  margin-top: -1rem;  /* equivalent to mt-4 */
  display: flex;
  @media (max-width: 1420px) and (min-width: 1024px) {
    max-width: 100px;
  }

  justify-content: center;
  white-space: nowrap;

  @include mobile  {
  display: none;

  }
}
.button {
  @media (max-width: 1420px) and (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    & > * {
      max-width: 100px !important;
      white-space: pre-line; // Ensures text breaks into a new line
      word-wrap: break-word; // Ensures long words break properly
      overflow-wrap: break-word;
    }
    
  }
}