@use "styles/breakpoints.scss" as *;

.container {
    width: 500px;
    height: 200px;
    background-color: var(--color-grey-500);
    text-align: center;
    gap: 10px;
    border-radius: 1rem;
    vertical-align: middle;

    @include mobile {
        width: 366px;
        height: 150px;
    }

    .title {
        margin-top: 1.5rem;

        @include mobile {
            margin-top: 1rem;
        }
    }

    .value {
        margin-top: 2rem;

        @include mobile {
            margin-top: 1.5rem;
        }
    }
}