@use "styles/breakpoints.scss" as *;

.container {
    width: 30vw;

   
    height: 200px;
    background-color: var(--color-grey-500);
    text-align: center;
    gap: 10px;
    border-radius: 1rem;
    vertical-align: middle;


    @include desktop {
        max-width: 475px;
    }
    @include mobile {
        width: 60%;
        min-width: 350px;
        height: 150px;
        margin: auto;
    }

    .title {
       
        padding-top: 2rem;

        @include mobile {
            padding-top: 1.25rem;
        }
    }

    .value {
        margin-top: 2rem;

        @include mobile {
            margin-top: 1.5rem;
        }
    }
}