.page-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    border-radius: 0 16px 16px 0;
    background-color: var(--color-grey-500);
}

.layout-container {
    display: grid;
    grid-template-columns: 496px 270px 360px;
    grid-template-rows: auto auto;
    gap: 40px;
    padding: 20px 40px;
    margin-left: 190px; 
}

.daily-layout {
    width: 496px;
    height: 409px;
    background-color: var(--color-grey-500);
    border-radius: 16px;
}

.weekly-layout {
    width: 270px;
    height: 409px;
    background-color: var(--color-grey-500);
    border-radius: 16px;
}

.calendar-layout {
    width: 360px;
    height: 409px;
    background-color: var(--color-grey-500);
    border-radius: 16px;
}

.pr-layout {
    height: 291px;
    width: 496px;
    background-color: var(--color-grey-500);
    border-radius: 16px;
}

.statistics-layout {
    height: 291px;
    width: 496px;
    background-color: var(--color-grey-500);
    border-radius: 16px;
    grid-column: 2 / span 2; 
}
