.main{

    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
     max-width: 1100px;
     background-color: var(--color-grey-500);
     padding : 20px;
     border: radius 10px;
}
.form{
    max-width: 330px;
    margin-left: 25px;
    margin-bottom: 10px;

}
.bar{
    margin-top: 20px;
    margin-left: 0px;
}


