.h1 {
  color: --color-dark;
  font-size: 48px;
  font-weight: 700;
  font-family: "poppins";
  line-height: 48px;
  letter-spacing: 4%;
}
.h2 {
  color: --color-dark;
  font-size: 40px;
  font-weight: 600;
  font-family: "poppins";
  line-height: 40px;
}
.h3 {
  color: --color-dark;
  font-size: 32px;
  font-weight: 600;
  font-family: "poppins";
  line-height: 40px;
}
.h4 {
  color: --color-dark;
  font-size: 24px;
  font-weight: 700;
  font-family: "poppins";
  line-height: 32px;
}
.h5 {
  color: --color-dark;
  font-size: 20px;
  font-weight: 700;
  font-family: "poppins";
  line-height: 24px;
}
.body-16 {
  color: --color-dark;
  font-size: 16px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 24px;
}
.subtitle-16 {
  color: --color-dark;
  font-size: 16px;
  font-weight: 700;
  font-family: "poppins";
  line-height: 24px;
}
.body-15 {
  color: --color-dark;
  font-size: 15px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 24px;
}
.subtitle-15 {
  color: --color-dark;
  font-size: 15px;
  font-weight: 700;
  font-family: "poppins";
  line-height: 24px;
}
.button {
  color: --color-dark;
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins";
  line-height: 24px;
}
.caption {
  color: --color-dark;
  font-size: 12px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 16px;
}
